// 导入一些常用mixin
@import "./mixins.scss";

// 变量
$font-size-small: 12px;
$font-size-base: 13px;
$font-size-medium: 14px;
$font-size-big: 15px;
$font-size-bigger: 16px;
$font-size-large: 18px;

$theme-color: #39a4ff;
$theme-color_2: #38b2ff;

$red: #ff6d6d;

$navBarWidth: 240px;
